In [1]:
import rqdatac
rqdatac.init()

In [2]:
df  = rqdatac.fund.all_instruments()
manager_df = rqdatac.fund.get_manager(df.order_book_id,expect_df=True)
manager_df = manager_df.reset_index()

In [3]:
df_b = manager_df[(manager_df.end_date.isna()) |(manager_df.end_date>="20200101")]

In [4]:
df_a = df_b[df_b['return']>0]
df_a = df_a.sort_index(by='return',ascending=False)
df_a

      order_book_id         id name  days start_date   end_date     return
13668        006401  101003548   王颢   242 2019-05-20        NaT  4999.5082
19549        161005  101000231  朱少醒  5175 2005-11-16        NaT  1320.6042
18136        150017  101001175  谢治宇  2544 2013-01-29        NaT   582.0684
13076        006011  101011007  缪夏美   594 2018-05-31 2020-01-15   577.2982
20472        163804  101000769   陈军  4846 2006-10-11        NaT   485.9186
22637        320003  101000710   杨谷  5077 2006-02-22        NaT   431.7286
21377        200002  101000735  杨建华  5719 2004-05-21        NaT   393.2048
20428        163406  101001175  谢治宇  2544 2013-01-29        NaT   380.2533
10490        004638  101002149   祝灿   443 2018-01-12        NaT   374.2425
10491        004638  101004880  刘明宇   704 2018-02-12        NaT   373.3897
17840        110011  101001615   张坤  2667 2012-09-28        NaT   351.3537
25832        519760  101002117   李娜  1520 2015-11-19        NaT   336.8281
18600        150199  101002518   梁杏  1318 2016-06-08        NaT   330.5151
22330        260116  101001006   余广  2950 2011-12-20        NaT   312.5537
13488        006279  101004758   魏孛   430 2018-11-13        NaT   298.4324
17573        090015  101001536  李本刚  2687 2012-09-04 2020-01-13   281.4436
17883        110022  101001278   萧楠  2667 2012-09-28        NaT   280.3665
383          000136  101002487   孙伟  2020 2014-07-07        NaT   274.6897
640          000251  101001201   鄢耀  2335 2013-08-26        NaT   271.8792
639          000251  101001254  王君正  2335 2013-08-26        NaT   271.8792
8929         003803  101001339  孙丽娜  1114 2016-12-29        NaT   268.7601
23381        460005  101002046   方纬  1974 2014-08-22        NaT   267.4275
18601        150199  101004678  徐成城  1078 2017-02-03        NaT   265.0270
22973        377240  101001063   杜猛  3110 2011-07-13        NaT   254.7286
7526         003106  101004619   房雷   752 2017-03-09        NaT   251.5979
7522         003105  101004619   房雷   752 2017-03-09        NaT   251.5525
22901        370024  101001064   孙芳  2606 2012-11-28        NaT   251.1842
20762        166002  101001558  周蔚文  3161 2011-05-23        NaT   250.5974
17851        110013  101001336   陈皓  2078 2014-05-10        NaT   249.7246
19379        160613  101001199   伍旋  2942 2011-12-28        NaT   237.6430
...             ...        ...  ...   ...        ...        ...        ...
16687        008661  101002238  胡永青    23 2019-12-25        NaT     0.0099
6663         002690  101000939   丁骏   181 2019-07-20        NaT     0.0092
6662         002690  101001526   刘静   181 2019-07-20        NaT     0.0092
7816         003233  101013324   李龑   463 2018-10-11        NaT     0.0045
25897        519859  101001999  温秀娟  2237 2013-12-02        NaT     0.0023
25891        519809  101001756  万晓西  1936 2013-12-11        NaT     0.0019
25895        519858  101001999  温秀娟  2237 2013-12-02        NaT     0.0019
25900        519879  101001579   桑迎  1915 2014-10-20        NaT     0.0017
25887        519808  101001756  万晓西  1936 2013-12-11        NaT     0.0016
25899        519878  101001579   桑迎  1915 2014-10-20        NaT     0.0015
25892        519809  101001918  李金灿  1683 2015-06-09        NaT     0.0014
25893        519809  101001879  张文玥  1450 2016-01-28        NaT     0.0012
25898        519859  101004097  曾雪兰  1274 2016-07-22        NaT     0.0012
25886        519801  101004418   周飞  1184 2016-10-20        NaT     0.0011
25888        519808  101001918  李金灿  1683 2015-06-09        NaT     0.0011
25896        519858  101004097  曾雪兰  1274 2016-07-22        NaT     0.0010
25883        519800  101004418   周飞  1184 2016-10-20        NaT     0.0009
25889        519808  101001879  张文玥  1450 2016-01-28        NaT     0.0009
25917        519899  101001016   朱哲   944 2016-08-29        NaT     0.0009
25894        519809  101002167   李曈   967 2017-05-25        NaT     0.0008
25913        519898  101001016   朱哲   944 2016-08-29        NaT     0.0007
2854         001154  101005079  庞琳琳   361 2018-04-04        NaT     0.0007
25890        519808  101002167   李曈   967 2017-05-25        NaT     0.0007
25910        519889  101010339   陶然   623 2018-05-04        NaT     0.0005
25906        519888  101010339   陶然   623 2018-05-04        NaT     0.0004
9814         004249  101011005  谭珏娜   480 2017-12-06        NaT     0.0002
25918        519899  101013658  欧阳亮   119 2019-09-20        NaT     0.0001
1911         000753  101014811   王正    15 2020-01-02        NaT     0.0001
25914        519898  101013658  欧阳亮   119 2019-09-20        NaT     0.0001
4846         001904  101004844   黄波    14 2020-01-03        NaT     0.0001

[13660 rows x 7 columns]

In [5]:
name = df_a[:1000].name.value_counts()[:10].index.to_list()
print(name)
df_c = df_a[df_a.name.isin(name)]
df_c['symbol'] = [i.symbol for i in rqdatac.fund.instruments(df_c.order_book_id)]
a = df_c[:15]
a

['张雅君', '过钧', '邱杰', '张清华', '曲扬', '曾刚', '周蔚文', '徐小勇', '黄欣', '程洲']

d:\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,order_book_id,id,name,days,start_date,end_date,return,symbol
20762,166002,101001558,周蔚文,3161,2011-05-23,NaT,250.5974,中欧蓝筹A
908,000363,101001639,程洲,2222,2013-12-17,NaT,212.6058,国泰聚信C
907,000362,101001639,程洲,2222,2013-12-17,NaT,210.2111,国泰聚信A
20758,166001,101001558,周蔚文,3076,2011-08-16,NaT,202.0825,中欧新趋势A
17121,050011,101002076,过钧,3873,2009-06-10,NaT,196.4305,博时信用债券A/B
17193,050111,101002076,过钧,3873,2009-06-10,NaT,185.3295,博时信用债券C
17900,110027,101002064,张清华,2216,2013-12-23,NaT,177.5952,易方达安心A
17906,110028,101002064,张清华,2216,2013-12-23,NaT,171.7374,易方达安心B
4764,001875,101002074,曲扬,1368,2016-04-19,NaT,132.8664,前海沪港深优势
3056,001216,101001883,张雅君,1681,2015-06-11,NaT,104.0529,易方达新收益A
3062,001217,101001883,张雅君,1681,2015-06-11,NaT,99.7479,易方达新收益C
2941,001178,101001972,邱杰,1705,2015-05-18,NaT,99.1667,前海再融资
3249,001278,101001972,邱杰,1676,2015-06-16,NaT,93.4576,前海能源A
5910,002360,101001972,邱杰,1460,2016-01-18,NaT,93.0110,前海能源C
452,000171,101002064,张清华,2199,2014-01-09,NaT,91.0714,易方达裕丰

In [6]:
liu_df = manager_df[manager_df.name=="刘格菘"].sort_index(by='return',ascending=False)
liu_nav_df = rqdatac.fund.get_nav(liu_df.order_book_id,start_date=20191201, expect_df=True)
liu_nav_df.reset_index(inplace=True)  
liu_nav_df.groupby("order_book_id").mean().sort_index(by='change_rate',ascending=False)

               acc_net_value  adjusted_net_value  change_rate  unit_net_value
order_book_id
003745              1.566306            1.566306     0.006405        1.566306
002939              1.900097            1.935181     0.006267        1.855097
162703              4.383491            8.674947     0.006160        2.045491
005911              2.186103            2.186103     0.006036        2.186103
002252              1.315788            1.315788     0.004888        1.315788
002132              1.141939            1.141939     0.004475        1.141939
161610              3.604848            3.728137     0.003572        1.255000
001152              0.584394            0.584394     0.003423        0.584394
590002              0.630791            0.630791     0.003322        0.630791
960001              0.745242            0.745242     0.003322        0.745242
270025              1.906091            1.841412     0.003305        1.254091
001471              1.450303            1.479519     0.003298        1.330303
008638              1.003700            1.003700     0.003213        1.003700
006140              1.120294            1.120294     0.001498        1.120294
006141              1.119615            1.119615     0.001491        1.119615

In [10]:
df_c =  manager_df[(manager_df.end_date.isna())]
order_book_ids  =[i.order_book_id for i in rqdatac.fund.instruments(df_c.order_book_id.unique().tolist()) if not i.accrued_daily ]
all_df = df_c.sort_index(by='return',ascending=False)
all_nav_df = rqdatac.fund.get_nav(order_book_ids,start_date=20191201, expect_df=True)
all_change_rate_df = all_nav_df.groupby("order_book_id").mean().sort_index(by='change_rate',ascending=False)
all_change_rate_df
# liu_nav_dfn    
# liu_df.order_book_id
# liu_nav_df.reset_index(inplace=True)  
# liu_nav_df.groupby("order_book_id").mean().sort_index(by='change_rate',ascending=False)

,acc_net_value,adjusted_net_value,change_rate,daily_profit,unit_net_value,weekly_yield
order_book_id,,,,,,
006761,1.640039,1.643814,0.040613,NaN,1.634039,NaN
006977,1.165286,1.165286,0.024570,NaN,1.165286,NaN
006642,1.535243,1.573858,0.021084,NaN,1.415243,NaN
007353,1.254943,1.254943,0.020088,NaN,1.254943,NaN
007586,1.320033,1.320033,0.018632,NaN,1.320033,NaN
006158,1.352186,1.362570,0.018312,NaN,1.248986,NaN
006159,1.343571,1.353457,0.018225,NaN,1.243571,NaN
002872,0.943053,0.943053,0.016984,NaN,0.943053,NaN
007113,1.081114,1.081114,0.016785,NaN,1.081114,NaN
007114,1.080757,1.080757,0.016736,NaN,1.080757,NaN
004457,1.250750,1.267837,0.016712,NaN,1.112875,NaN
001728,1.465857,1.465857,0.016697,NaN,1.465857,NaN
003980,1.210830,1.210830,0.016336,NaN,1.210830,NaN
006767,1.435833,1.435833,0.016310,NaN,1.435833,NaN
003981,1.193050,1.193050,0.016280,NaN,1.193050,NaN
007689,1.081114,1.081114,0.015341,NaN,1.081114,NaN
007690,1.080671,1.080671,0.015266,NaN,1.080671,NaN
150197,0.166779,0.166821,0.015261,NaN,0.547182,NaN
000970,2.810857,2.810857,0.015193,NaN,2.810857,NaN
005444,1.020957,1.020957,0.014815,NaN,1.020957,NaN
004848,1.145429,1.145429,0.014194,NaN,1.145429,NaN
005549,0.865743,0.865743,0.013530,NaN,0.865743,NaN
150324,0.113600,0.113605,0.013334,NaN,0.486255,NaN
150238,0.177394,0.177349,0.012857,NaN,0.543788,NaN
150212,0.255667,0.255671,0.012682,NaN,1.337182,NaN
150151,1.150121,0.327533,0.012339,NaN,0.779970,NaN
150248,0.013367,0.013365,0.012331,NaN,1.010009,NaN
008370,1.022320,1.022320,0.012259,NaN,1.022320,NaN
150204,1.450455,0.096166,0.011794,NaN,1.017121,NaN
150328,0.182206,0.182205,0.011602,NaN,0.656130,NaN
...,...,...,...,...,...,...
630103,1.641030,1.693763,-0.000663,NaN,1.135030,NaN
008089,0.999057,0.999057,-0.000701,NaN,0.999057,NaN
008114,1.000527,1.000527,-0.000734,NaN,1.000527,NaN
008768,1.002100,1.002100,-0.000742,NaN,1.002100,NaN
008115,1.000391,1.000391,-0.000752,NaN,1.000391,NaN
160140,1.177438,1.177149,-0.000758,NaN,1.157437,NaN
008769,1.001937,1.001937,-0.000767,NaN,1.001937,NaN
160141,1.166847,1.166550,-0.000771,NaN,1.146847,NaN
159984,1.007100,1.007100,-0.000794,NaN,1.007100,NaN
159985,0.977006,0.977006,-0.000892,NaN,0.977006,NaN
006638,0.987448,0.987448,-0.000956,NaN,0.987448,NaN
006639,0.983818,0.983818,-0.000960,NaN,0.983818,NaN
003046,1.091526,1.091526,-0.001013,NaN,1.091526,NaN
007875,0.991714,0.991714,-0.001412,NaN,0.991714,NaN
007876,0.991429,0.991429,-0.001455,NaN,0.991429,NaN
008706,0.902825,0.902825,-0.001658,NaN,0.902825,NaN
007982,0.990855,0.990855,-0.001844,NaN,0.990855,NaN
005715,1.052843,1.052843,-0.002751,NaN,1.052843,NaN
005716,1.045400,1.045400,-0.002824,NaN,1.045400,NaN
007727,0.977114,0.977114,-0.002883,NaN,0.977114,NaN
515110,1.010900,1.010900,-0.002910,NaN,1.010900,NaN
007728,0.975629,0.975629,-0.002945,NaN,0.975629,NaN
007738,1.004171,1.004175,-0.003314,NaN,1.002543,NaN
515990,1.021533,1.021533,-0.003734,NaN,1.021533,NaN
006455,0.984514,0.984514,-0.003818,NaN,0.984514,NaN
515150,1.022467,1.022467,-0.003893,NaN,1.022467,NaN
003390,1.069200,1.068624,-0.004910,NaN,1.036200,NaN
515870,1.043900,1.043900,-0.008736,NaN,1.043900,NaN
530028,NaN,NaN,NaN,0.759300,NaN,0.023172
531028,NaN,NaN,NaN,0.852128,NaN,0.026150